body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white
}

#section_about {
    margin: 100px;
    border: 5px solid red;
    text-align: center;
}

#section_xp {
    border: 2px solid red;
    margin: 10px;
    padding-left: 50px;
    text-align: center;
}

#section_tastes {
    margin: 10px;
    text-align: center;
    border: 2px solid red;
    padding-left: 50px;
}

#annPunch {
    display: flex;
    justify-content: right;
}

#section_contact {
    text-align: center;
}

#SimonPFP {
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid red;
}

.grid-side-by-side {
    display: flex;
    justify-content: space-evenly;
}

#zap {
    background-color: aliceblue;
    border: 4px solid red;
    display:flex;
    justify-content: center;
}

.space-even {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}
.dep_pic {
    width:30%;
    border: 2px solid darkred;
}

.skill {
  margin-bottom: 20px;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
}

.progress {
  height: 100%;
  background-color: #3498db;
  border-radius: 10px;
}

.gallery_img {
    border: 2px solid darkred;
    display: flex;
    justify-content: space-evenly;
}

.imglol {
    width: 35%;
    height: 35%;
}